/* =Typography
-----------------------------------------------------------------------------*/
body {
	margin: 0;
	padding: 0;
}

/* =Links
-----------------------------------------------------------------------------*/


/* =Layout
-----------------------------------------------------------------------------*/
#page {
	max-width: 1600px;
	padding: 0 10px;
}


/* =Header
-----------------------------------------------------------------------------*/


/* =Nav
-----------------------------------------------------------------------------*/


/* =Misc
-----------------------------------------------------------------------------*/


/* =Footer
-----------------------------------------------------------------------------*/
